<h2>CRUD</h2>
<div class="row">
    <div class="col-md-5">
        <form action="" class="contact__form"
        #addproductform="ngForm" (ngSubmit)="addProductformsubmit()">
        <input type="text" 
        class="contact__nombre input inputNombreProducto" 
        placeholder="Nombre del producto" 
        required
        name="nombre"
        [(ngModel)] = "producto.nombre">
        <label for="" 
        class="contact__label" 
        >Nombre Del producto</label>

        <input type="text"
         class=" input inputDescripcionProducto"
          placeholder="Descripcion del producto"
           required
           name="descripcion"
           [(ngModel)] = "producto.descripcion"
           >
        <label for="" class="contact__label">Descripcion del producto</label>


        <input type="number"
         class=" input inputPrecioProducto"
          placeholder="Precio del producto"
           required
           name="precio"
           [(ngModel)] = "producto.precio"
           >
        <label for="" class="contact__label">Precio del producto</label>


        <input type="number"
         class=" input inputIdProducto"
          placeholder="Id del producto"
           required
           name="id"
           [(ngModel)] = "producto.id"
           >
        <label for="" class="contact__label">Id del producto</label>

        <input type="text"
         class=" input inputImagenProducto"
          placeholder="Imagen URL del producto"
           required
           name="fotoss"
           [(ngModel)] = "producto.fotos"
           >
        <label for="" class="contact__label">Imagen URL del producto</label>
        <button class="btnSubmit" type="submit"  class="contact__enviar" href="/panel-admin" >Agregar Producto</button>
        <a type="submit"  class="btnSubmit" class="contact__enviar"(click) ="editar()"
         >Editar Producto</a>
    </form>
    </div>

    <div class="col-md-6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col" class="tamanio"></th>
                    <th scope="col" class="tamanio">Producto</th>
                    <th scope="col" class="tamanio">Precio</th>
                    <th scope="col" class="tamanio">Descripción</th>
                    <th scope="col" class="tamanio">Id</th>
                    <th scope="col" class="tamanio">Editar</th>
                    <th scope="col" class="tamanio">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of productospaginacion">
                    <td scope="row" class="imagen" >
                        <img [src]="producto.fotos" width="100%" alt="">
                    </td>
                    <th scope="row" class="tamanioInfo">{{producto.nombre}}</th>
                    <td scope="row" class="tamanioInfo">{{producto.precio | currency:'USD'}}</td>
                    <td scope="row" class="tamanioInfo itemCantidad">{{producto.descripcion}}</td>
                    <td scope="row" class="tamanioInfo"> {{producto.id}}</td>
                    <td>
                        <a class="btn" (click)="editProduct(producto)">
                          <i class="fa fa-edit"></i>
                        </a>
                      </td>

                    <td>
                        <a class="btn text-danger"(click)="eliminar(producto)"  href="/panel-admin">
                          <i class="fa fa-trash"></i>
                        </a>
                      </td>
                </tr>
            </tbody>
            
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
              <a>
                <button type="submit"class="btn btn-outline-dark" data-abc="true" (click)="rewind()">Atras </button>
              </a>
              <a class="page-item">
                <button type="submit"class="btn btn-outline-dark" data-abc="true" (click)="forward()">Siguiente </button>
              </a>
            </ul>
        </nav>
    </div>
</div>



