<div class="about">
    <h2 class="text--about">About US</h2>
</div>


<div class="grid">
    <div class="grid__col">
        <h2 class="text--marca">La marca</h2>
        <p class="text--p">"Ecommerce nace en 2020 como nueva marca del Grupo Inditex"</p>
        <div class="textBox">
            <p class="textBox__p">Ecommerce se presenta como un punto de referencia para la moda dirigida a este público cada vez más exigente y, en tan sólo 2 años, alcanza los 100 establecimientos consolidando así su imagen de marca. Actualmente, tras 18 años, la cadena cuenta con más de 1000 tiendas en más de 70 mercados, con ventas que representan el 9% del total de ingresos de todo el grupo.</p>
        </div>

        <div class="leerBox">
            <h3 class="text--leer">Leer más</h3>
            <h3 class="flecha--leer">&darr;</h3>
            <p class="leerBox--p hidden">Para traer siempre las últimas tendencias a la tienda, Ecommerce aprovecha la flexibilidad de su modelo de negocio para adaptarse a los cambios que pueden producirse durante las campañas y, de este modo, reaccionar a ellos con nuevos productos en las tiendas en el período de tiempo más breve posible. Los modelos de cada campaña son desarrollados íntegramente por sus equipos creativos, que toman como principales fuentes de inspiración tanto las tendencias de moda imperantes en el mercado como a los propios clientes, a través de la información que se recibe de las tiendas. El equipo de diseñadores de Ecommerce está formado por más de 60 profesionales que evalúan constantemente las necesidades, deseos y demandas de los consumidores, ofreciendo cada año más de 4000 productos diferentes en sus tiendas.</p>

            <div class="container__img">
                <img src="../../../assets/img/about2.jpg" alt="" class="img">
            </div>

            <h2 class="text--marca">EL TARGET</h2>
            <p class="texto--p">El público de Ecommerce se caracteriza por ser jóvenes atrevidos, conocedores de las últimas tendencias e interesados en la música, las redes sociales y las nuevas tecnologías.</p>
            <div class="container__img margen">
                <img src="../../../assets/img/about3.jpg" alt="" class="img">
            </div>

            <div class="container__img">
                <img src="../../../assets/img/about6.jpg" alt="" class="img">
            </div>

        </div>
    </div>

    <div class="grid__col">
        <div class="container__img container">
            <img src="../../../assets/img/about1.jpg" alt="">
        </div>

        <h2 class="text--marca">El concepto</h2>
        <p class="text--p">"Música, pantallas, proyecciones, gráficas actuales, colores..."</p>

        <div class="textBox">
            <p class="textBox__p">Las tiendas de Ecommerce en el mundo se caracterizan por su emplazamiento estratégico y su cuidada arquitectura. Los establecimientos se convierten en espacios vanguardistas, amplios y con una cuidada imagen que abarca, desde sus escaparates, hasta la disposición de las prendas en su interior. Ecommerce selecciona las mejores zonas comerciales de cada ciudad y se posiciona en las áreas más destacadas de los principales núcleos comerciales. A menudo se eligen edificios únicos, que el estudio de arquitectura de Ecommerce renueva y adapta a su imagen de marca y filosofía.</p>
        </div>

        <div class="leerBox">
            <h3 class="text--leer"> <strong>Leer más</strong></h3>
            <h3 class="flecha--leer flecha">&darr;</h3>
            <p class="leerText hidden">Música, pantallas, proyecciones, gráficas actuales, colores de moda, diseño de mobiliario contemporáneo, iluminación de ultima generación... todas estas características convierten la tienda Bershka en una Shopping experience. El interior de las tiendas está diseñado para dar la máxima relevancia a la exposición de la moda. La distribución del espacio, la música, la iluminación, el mobiliario, la gráfica y todos los materiales utilizados han sido concebidos y elegidos cuidadosamente para ofrecer la máxima libertad a sus clientes mientras descubren las últimas tendencias de la moda. Todos los elementos de la tienda los diseña el equipo de imagen de Bershka y se actualizan cada campaña.</p>

            <div class="container__img">
                <img src="../../../assets/img/about4.jpg" alt="" class="img">
            </div>
        </div>

        
    </div>
</div>