<footer class="footer">
    <div class="footer__grid">
        <div class="footer__fila">
            <div class="footer__col">
                <h3 class="text--direccion"> Calle 10 # 36-14, El Poblado, Medellín</h3>
                <h3 class="text--direccion"> Carrera 53 # 64-26, Florida Blanca, Bucaramanga</h3>
                <h4 class="text--cel">+57 3205536798</h4>
            </div>

            <div class="footer__col">
                <p class="text--cambios">CAMBIOS Y DEVOLUCIONES
                    FORMAS DE PAGO
                    TÉRMINOS Y CONDICIONES
                    POLÍTICA DE DATOS
                    CONTACTO</p>

                <div class="footer__icon">
                    <i class="fab fa-facebook"></i>
                </div>
                <div class="footer__icon">
                    <i class="fab fa-instagram"></i>
                </div>

                <div class="footer__icon">
                    <i class="fab fa-whatsapp"></i>
                </div>
            </div>

            <div class="footer__col">
                <p class="text--copyRight"> Copyright 2021 E-commerce all rights reserved.
                    Nueve Nueve Dos SAS | 1234567890-10</p>
            </div>
        </div>
    </div>
</footer>
