.footer__grid {
  padding: 2rem 3rem;
}

.footer__col {
  float: left;
  width: 33.33333%;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: bold;
}

.text--cel {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.footer__icon {
  display: inline-block;
  margin-left: 2rem;
}
i {
  font-size: 2rem;
  display: inline-block;
  margin: 2rem 1.5rem;
}

p {
  padding-left: 2.5rem;
  font-size: 1.17rem;
}
