<h2 class="cliente">Soy nuevo</h2>
    <form action="" class="contact__form"
    (ngSubmit)="register()"
    #addusuarioform="ngForm">

        <input type="text" 
        class="contact__nombre input miNombre" 
        placeholder="Usuario" 
        required 
        id="nombre"
        name="nombreUsuario"
        [(ngModel)] = "usuarios.nombreUsuario">
        <label for="" class="contact__label">Usuario</label>

        
        <input type="email" 
        class="contact__email input" 
        placeholder="Email" 
        required
        id="email"
        name="email"
        [(ngModel)] = "usuarios.email">
        <label for="" class="contact__label">Email</label>
        <input type="password" 
        class="contact__clave input" 
        placeholder="Contraseña" 
        required
        id="clave"
        name="clave"
        [(ngModel)] = "usuarios.clave">
        <label for="" class="contact__label">Contraseña</label>
        <input type="submit"
        (click) ="agregarUser()" 
        value="Registrarse" 
        class="contact__enviar contact__enviar--registro" >
                    
    </form>