<div class="colorNegro"> </div>
<div class="row" *ngIf="cartItems.length === 0">>
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-header">
                <h3>No hay productos en el carrito.</h3>
            </div>
            <div class="card-body">
                <p>Antes de proceder al pago, debe agregar algunos productos a su carrito de compras.</p>
                <p class="home">
                    <a routerLink="/productos" class="boton">Continuar Comprando</a>
                </p>
            </div>
        </div>
    </div>
</div>
<table class="table table-hover" *ngIf="cartItems.length > 0">
    <thead>
        <tr>
            <th scope="col" class="tamanio"></th>
            <th scope="col" class="tamanio">Producto</th>
            <th scope="col" class="tamanio">Precio</th>
            <th scope="col" class="tamanio">Cantidad</th>
            <th scope="col" class="tamanio">Total</th>
            <th scope="col" class="tamanio">Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of cartItems">
            <td scope="row" class="imagen">
                <img [src]="item.productImage" width="60%" alt="">
            </td>
            <th scope="row" class="tamanioInfo">{{item.productName}}</th>
            <td scope="row" class="tamanioInfo">{{item.price | currency:'USD'}}</td>
            <td scope="row" class="tamanioInfo itemCantidad">{{item.qty}}</td>
            <td scope="row" class="tamanioInfo">{{(item.qty * item.price) | currency:'USD'}}</td>
            <td scope="row" class="tamanioInfo">
                <a href="/verCarro" (click)="eliminarCarro(item.id)" class="btnEliminar">X</a></td>
        </tr>
    </tbody>
    
</table>

<div class="contenedor">
    <h2 class="total">Total: {{cartTotal | currency: 'USD'}}</h2>
    <a [routerLink]="['/pagar']" class="btnPagar">Ir a pagar</a>
    
</div>


<!-- <div class="contenedor">
    <h4>Producto</h4>
    <h4 class="margen">Precio</h4>
    <h4 class="margen">Cantidad</h4>
    <h4 class="margen">Total</h4>
    <h4 class="margen">Eliminar</h4>
    <div *ngFor="let item of cartItems">
        <app-ver-carrito-item [cartItem]="item"></app-ver-carrito-item>
    </div>
</div> -->


            <!-- <app-ver-carrito-item [cartItem]="item"></app-ver-carrito-item> -->
            <!-- <td><button class="btn btn--danger"></button></td> -->
        
    

