<div class="tienda">
    <h2 class="text--tienda">Tienda</h2>
</div>

<div class="grilla">

    <!-- =========== FILA 1 ========= -->
    <div class="grilla__fila">
        <div class="grilla__col">
            <img src="../../../assets/img/tienda1.png" alt="Foto tienda" class="grilla__img">
        </div>

        <div class="grilla__col">
            <img src="../../../assets/img/tienda2.png" alt="Foto tienda" class="grilla__img">
        </div>

        <div class="grilla__col">
            <img src="../../../assets/img/tienda3.png" alt="Foto tienda" class="grilla__img">
        </div>
    </div>

    <!-- =========== FILA 2 ========== -->

    <div class="grilla__fila grilla__fila--final">
        <div class="grilla__col">
            <img src="../../../assets/img/tienda4.png" alt="Foto tienda" class="grilla__img">
        </div>

        <div class="grilla__col">
            <img src="../../../assets/img/tienda5.png" alt="Foto tienda" class="grilla__img">
        </div>

        <div class="grilla__col">
            <img src="../../../assets/img/tienda6.png" alt="Foto tienda" class="grilla__img">
        </div>
    </div>
</div>
