

<!-- Toolbar -->
<app-header></app-header> 
<app-nav-bar></app-nav-bar>
<div class="contendor">
    <div class="fila">
        <div class="columna">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="fila">
        <div class="columna">
            <!-- <app-footer></app-footer> -->
        </div>
    </div>
</div>
<!-- <app-grilla-home></app-grilla-home>
<app-shopping-cart></app-shopping-cart>
<app-cuenta></app-cuenta>

<router-outlet></router-outlet>
<app-footer></app-footer>  -->

