<nav class="nav">
    <ul class="nav__lista">
        <li class="nav__item"><a href="#" class="nav__link nav__link--home">Home</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Productos </a></li>
        <li class="nav__item"><a href="#" class="nav__link">Tienda</a></li>
        <li class="nav__item"><a href="#" class="nav__link">About us</a></li>
    </ul>
</nav>

<!-- <ul class="lista--desplegable">
    <li class="lista--desplegable__item"><a href="#" class="lista--desplegable__link">Beachwear</a></li>
    <li class="lista--desplegable__item"><a href="#" class="lista--desplegable__link">Tops</a></li>
    <li class="lista--desplegable__item"><a href="#" class="lista--desplegable__link">Shorts y Pantalones</a></li>
    <li class="lista--desplegable__item"><a href="#" class="lista--desplegable__link">Camisetas</a></li>
    <li class="lista--desplegable__item"><a href="#" class="lista--desplegable__link">Buzos y chaquetas</a></li>
    <li class="lista--desplegable__item"><a href="#" class="lista--desplegable__link">Gorros</a></li>
</ul> -->
