<section class="panel">
    <aside class="panel-izq">
        <div class="panel-izq__contenedor-img">
            <img src="../../../../assets/img/divante-ecommerce.svg"  width="100%" alt="Logo" class="panel-izq__img">
        </div>
        <h3 class="texto-navegacion">Navegación</h3>
        <ul>
            <li><a  class="verProductosLink"><span class="spanProductos">&rarr;</span>Ver productos</a></li>
            <li><a class="verReporteslink"><span class="spanReportes hiddenSpan">&rarr;</span>Ver reportes de ventas</a></li>
        </ul>
    </aside>

    <div class="columna">

        
        <app-crud-admin class="crud"></app-crud-admin>
        <app-reporte-ventas-admin class="reporteVentas hidden"></app-reporte-ventas-admin>
    </div>
</section>
