<section class="panel">
    <aside class="panel-izq">
        <div class="panel-izq__contenedor-img">
            <img src="../../../../assets/img/divante-ecommerce.svg"  width="100%" alt="Logo" class="panel-izq__img">
        </div>
        <h3 class="texto-navegacion">Navegación</h3>
        <ul>
            <li><a href="">Ver productos</a></li>
            <li><a href="">Ver reportes de ventas</a></li>
        </ul>
    </aside>

    <div class="columna">

        
        <app-crud-admin></app-crud-admin>
    </div>
</section>
