<div class="grid">
    <div class="grid__fila">
        <div class="grid__col" >
            <img src="../../../assets/img/beachwear.png" alt="" class="grid__img" id="imagen1" >
        </div>

        <div class="grid__col">
            <img src="../../../assets/img/tops.png" alt="" class="grid__img" id="imagen2">
        </div>

        <div class="grid__col">
            <img src="../../../assets/img/shorts.png" alt="" class="grid__img" id="imagen3">
        </div>
    </div>


    <div class="grid__fila">
        <div class="grid__col">
            <img src="../../../assets/img/camisetas.png" alt="" class="grid__img" id="imagen4">
        </div>

        <div class="grid__col">
            <img src="../../../assets/img/buzos.png" alt="" class="grid__img" id="imagen5">
        </div>

        <div class="grid__col">
            <img src="../../../assets/img/gorras.png" alt="" class="grid__img" id="imagen6">
        </div>
    </div>
</div>
