.grid__fila {
  width: 70%;
  margin-left: 15rem;
}

.grid__col {
  float: left;
  width: 50%;
}

.identificate {
  margin-left: 15rem;
  font-size: 1.3rem;
  margin-top: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}
