<div class="cuenta">
    <div class="grid">
        <h3 class="identificate">Identifícate</h3>
        <div class="grid__fila">
            <div class="grid__col">
                <h2 class="cliente">Ya soy Cliente</h2>
                <form action="" class="contact__form">
                    
                    
                    <input type="email" class="contact__name input" placeholder="Email" required>
                    <label for="" class="contact__label">Email</label>

                    <input type="text" class=" input" placeholder="Contraseña" required>
                    <label for="" class="contact__label">Contraseña</label>
                    
                    <input type="submit" value="Iniciar Sesión" class="contact__enviar" >
                    
                </form>
            </div>

            <div class="grid__col">
                <h2 class="cliente">Soy nuevo</h2>
                <form action="" class="contact__form">
                    
                    <input type="text" class="contact__name input" placeholder="Nombre" required>
                    <label for="" class="contact__label">Nombre</label>

                    <input type="text" class="contact__apellido input" placeholder="Apellido" required>
                    <label for="" class="contact__label">Apellido</label>

                    <input type="email" class="contact__email input" placeholder="Email" required>
                    <label for="" class="contact__label">Email</label>

                    <input type="password" class="contact__clave input" placeholder="Contraseña" required>
                    <label for="" class="contact__label">Contraseña</label>
                    
                    <input type="submit" value="Registrarse" class="contact__enviar" >
                    
                </form>
            </div>
        </div>
    </div>
</div>
