<h2>Log-in Administrador</h2>
    <form action="" class="contact__form"
     #loginForm="ngForm"
      (ngSubmit)="loginForm.valid && loginAdmin()">

        <input type="text" class="contact__nombre input" placeholder="Usuario" required
        [(ngModel)]="model.adminUsernombre" 
        #adminEmail="ngModel"
        id="adminUsernombre"
        name="adminUsernombre"
        nombre="adminUsernombre">
        <label for="" 
        class="contact__label" 
        >Usuario</label>
        <input type="email" class=" input" placeholder="Email" required
        [(ngModel)]="model.adminEmail" 
        #userEmail="ngModel"
        id="adminEmail"
        name="adminEmail"
        nombre="adminEmail">
        <label for="" 
        class="contact__label" 
        >Email</label>

        <input type="number"
         class=" input"
         name="adminPassword"
          placeholder="Contraseña"
           required
        
           #adminPassword="ngModel"
        [(ngModel)]="model.adminPassword" 
        id="adminPassword"
        nombre="adminPassword">
        <label for="" class="contact__label">Contraseña</label>
        <button  class="contact__enviar" (click)="loginAdmin()">Iniciar Sesion</button>
            

        
    </form>
