<div class="contenedor">
    <div class="contenedor__carrito">
        <div class="contenedor__header">
            <a href="#" class="cerrar-carrito">x</a>
            <h2 class="texto--carro">Carrito</h2>
        </div>
        <div *ngIf="carroItems.length === 0" class="alert alert-info">No hay productos en el carrito.</div>
        <ul *ngIf="carroItems.length > 0" class="list-group">
            <li class="list-group-item" *ngFor="let item of carroItems">
                <app-item-carro-compras [carroItem]="item"></app-item-carro-compras>
            </li>
            <li class="list-group-item active">
                <h5 class="subtotal">Subtotal :  {{carroTotal | currency:'USD'}}</h5>
            </li>
        </ul>
        
    </div>
</div>
