<h2 class="cliente">Ya soy Cliente</h2>
    <form action="" class="contact__form"
     #loginForm="ngForm"
      (ngSubmit)="loginForm.valid && login()">
        <input type="email" class="contact__name input" placeholder="Email" required
        [(ngModel)]="model.userEmail" 
        #userEmail="ngModel"
        id="userEmail"
        name="userPassword">
        <label for="" 
        class="contact__label" 
        >Email</label>
        <input type="text"
         class=" input"
          placeholder="Contraseña"
           required
           #userPassword="ngModel"
        [(ngModel)]="model.userPassword" 
        id="userPassword"
        name="userPassword">
        <label for="" class="contact__label">Contraseña</label>
        <input type="submit" value="Iniciar Sesión" class="contact__enviar" >
            
    </form>
