<h2 class="cliente">Ya soy Cliente</h2>
    <form action="" class="contact__form"
     #loginForm="ngForm"
     (ngSubmit)="login()">
        <input type="email" class="contact__nombre input" placeholder="Usuario" required
        [(ngModel)]="credentials.nombreUsuario" 
        name="userNombre"
        #userEmail="ngModel"
        id="userEmail"
        nombre="userPassword">
        <label for="" 
        class="contact__label" 
        >Usuario</label>
        <input type="password"
         class=" input"
          placeholder="Contraseña"
           required
           name="userPassword"
           #userPassword="ngModel"
           [(ngModel)]="credentials.clave"
        id="userPassword"
        nombre="userPassword">
        <label for="" class="contact__label">Contraseña</label>
        <input type="submit" value="Iniciar Sesión" class="contact__enviar" >
    </form>